p {
  font-size: 1em;
  font-family: 'Open Sans', Times, serif;
  line-height: 180%;
  color: white;
  max-width: 75%;
  margin: 0 auto;
}

em {
  font-size: .5em;
  font-family: 'Open Sans', Times, serif;
  line-height: 180%;
  color: white;
  max-width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
  font-family: 'Oswald', Times, serif;
  line-height: 100%;
  color: white;
  text-align: right;
}

h2{
  font-size: 2em;
  font-family: 'Oswald', Times, serif;
  line-height: 100%;
  color: white;
}

body, html {
  width: 100%;
}

ul.navbar-nav {
 margin-left: 65%;
 color: black;
}

.navbar {
  font-family: 'Open Sans', Times, serif;
  color: black;
  background-color: #d13b3e;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

#container {
  margin: 0 auto;
  min-width: 100px;
}

#video {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.frame {
  text-align: right;
}

#timeline {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.red {
  margin: 0 auto;
  background-color: #d13b3e;
  margin: 0em;
  width: 100%;
  text-align: center;
}

.redtext {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.redtextcenter {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.black {
  margin: 0 auto;
  background-color: black;
  margin: 0em;
  width: 100%;
  text-align: center;
}

.blacktext {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.blacktextcenter {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.center {
  text-align: center;
}

.graphic-container {
  margin: 0 auto;
  background-color: #d13b3e;
  margin: 0em;
  width: 100%;
  text-align: center;
}

.graphic-container-back {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* photos */
.images {
  margin: 0 auto;
  width: 100%;
  text-align: right;
  z-index: 1;
}

.position {
  text-align: right;
  padding-right: 10px;
  margin-top: -20px;
  z-index: 2;
}

.caption {
  font-size: .5em;
  font-family: 'Open Sans', Times, serif;
  line-height: 180%;
  color: white;
  max-width: 75%;
  margin: 0 auto;
}

/* columns */
.columns {
  margin: 0 auto;
}

.row {
  width: 100%;
  text-align: center;
}


/* footer */
.footer {
  color: white;
  text-align: center;
  background-color: black;
  padding: 15px 5px 5px 5px;
}

.footerbox {
  width: 100%;
  text-align: center;
}
