/* styles for my resume */

/* styles for my body */
body {
  font-family: 'open sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* style for my container div that includes my entire document and all of the body */
/* this is an id */
#container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* styles for my name */
/* this is an id */
#name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* style is for unordered list in education section */
#degrees {
  margin-top: 5px 0px 0px 0px;
}

/* style is for unordered list in skills section */
#do {
  margin-top: 5px 0px 0px 0px;
}

/* I commented out my photo */

/* styles for my title */
/*replaced my strong html tag with an id */
#title {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
  weight: 600;
  text-align: center;
  margin-top: 20px 0px 0px 0px;
}

/* inline style for my contact information */
#inline {
  display: inline;
  list-style-type: none;
}

/* styles for my section titles */
/* this is a class */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin-top: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px;
}

/* styles for my job titles */
/*this is a class */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/* styles for my job organization */
/* this is a class */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/* styles for my job dates */
/* this is a class */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px 0px 0px 0px;
}

/* this style is for my paragraph descriptions */
.description {
  margin-top: 10px 0px 10px 0px;
}

/* this style is for my contact information list */
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* styles for my list items (contact info, skills, education) */
li {
  font-size: 1em;
}

/* style for mission statement */
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
